*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

header{
  display: flex;
  background-color: #052659;
  color: white;
  padding: 1%;    
  justify-content: space-between; /para afastar/

    
}   

.headerBotoes{
  display: flex;
  gap: 35px; /separar os botoes/
  color: rgb(116, 75, 23);
  
}

button{
  background-color: transparent;
  border: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 0 100px 0 0;
}

a{
  text-decoration: none;
  color: #ffffff;
}

h1{
    margin: 0 0 0 100px;
    font-size: 40px;
    text-align: start;
}


body{
  margin: 0; /no sei oq botar aq/
}

.body{
   background: url("https://portal.resolvvi.com/wp-content/uploads/2021/03/software-para-advogados.jpg")
   no-repeat center/cover;
  height: 100vh;
  
}



.texto1{

  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 90%;
}


.h2_body{
  font-weight: normal;
  font-size: 50px;
  color: aliceblue;


}

span{
  font-size: 60px;
  font-weight: bold;
}


.button_body{
  letter-spacing: 2px;
  font-size: 80px;
  color: #052659;
  text-decoration: underline;
}
