/* style.css (para index.html) */
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.poppins-light {
  font-weight: 300;
  font-style: normal;
}

header{
  display: flex;
  background-color: #052659;
  color: white;
  padding: 1%;
  justify-content: space-between; /* para afastar */
  align-items: center;
}

a{
  text-decoration: none;
  color: #ffffff;
}

h1{
  margin: 0 0 0 100px;
  font-size: 40px;
  text-align: start;
}

.headerBotoes{
  display: flex;
  gap: 35px; /* separar os botoes */
}

button{
  background-color: transparent;
  border: transparent;
  font-size: 25px;
  color: white;
  cursor: pointer;
  margin: 0 20px 0 0;
}

/* cores e variáveis */
:root {
  --cor-principal: #7DA0C4;
  --cor-branco: #f5f5f5;
  --cor-texto: #191919;
}

body {
  margin: 0;
  background-color: var(--cor-branco);
  color: var(--cor-texto);
}

/* seção principal da home */
.body{
  background: url("https://portal.resolvvi.com/wp-content/uploads/2021/03/software-para-advogados.jpg") no-repeat center/cover;
  height: calc(100vh - 68px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto1{
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 90%;
}

.h2_body{
  font-weight: normal;
  font-size: 50px;
  color: aliceblue;
}

span{
  font-size: 60px;
  font-weight: bold;
}

.button_body{
  letter-spacing: 2px;
  font-size: 40px;
  color: #052659;
  text-decoration: underline;
}
