
*{
    margin: 0;
    padding: 0;
}

header{
  display: flex;
  background-color: #052659;
  color: white;
  padding: 1%;    
  justify-content: space-between; /*para afastar*/

    
}   

.headerBotoes{
  display: flex;
  gap: 35px; /*separar os botoes*/
  color: rgb(116, 75, 23);
  
}

button{
  background-color: transparent;
  border: transparent;
  font-size: 40px;
  color: white;
  cursor: pointer;
  
}

h1, h2, buttonP, a{
  font-family: 'Graphik', Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

h1{
    
    font-size: 50px;
    text-align: start;
}


body{
  margin: 0; /*no sei oq botar aq*/
}

.body{
   background: url("https://portal.resolvvi.com/wp-content/uploads/2021/03/software-para-advogados.jpg")
   no-repeat center/cover;
  height: 100vh;
  
}



.texto1{

  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 90%;
}


.h2_body{
  font-weight: normal;
  font-size: 50px;
  color: aliceblue;


}

span{
  font-size: 60px;
  font-weight: bold;
}


.button_body{
  
  font-size: 80px;
  color: aliceblue;
}

